
@font-face{
    font-family:'TTNorms-Bold';
    src:url(fonts/TTNorms-Bold.otf) ;
}   

@font-face{
    font-family:'TTNorms-Regular';
    src:url(fonts/TTNorms-Regular.otf);
}

@font-face{
  font-family:'TTNorms-ExtraBold';
  font-weight: 900;
  src:url(fonts/TTNorms-ExtraBold.otf);
}

@font-face{
  font-family:'TTNorm-woff';
  src:url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).woff2);
}


@font-face{
  font-family:'TTNorm-Medium';
  src:url(fonts/TTNorms-Medium.woff2);
}

@font-face{
  font-family:'TTNorm-bcwoff';
  src:url(fonts/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face{
  font-family:'TTNorm-probold';
  src:url(fonts/TTNormsProCondensedBlack.ttf);
}








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family:  'TTNorms-Regular';
  background-color: #fff;
}

h1,h2, h3,h4{
   font-family: 'TTNorms-Bold';
} 


p,a,li,span{
    font-family:'TTNorms-Regular';
}

.nav-top {
  padding: 8px;
  background-color: #fff;
  /* max-width: 900px; */
  max-width: 100%;

  margin: 19px auto;
  height:60px;

  /* margin:16px auto;
  height:60px; */
  /* margin-bottom:19.3px; */
    margin-bottom:21px;

  margin-top:15px;
  margin-left:0px;
}
     
.grid {
  display: grid;
  width:404px;
  height:80px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 10px;
  width:100%;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;

  box-sizing: border-box;
      
}
     
.left-icon {  
  width:64px;
  height:64px;    
  grid-column: 1 / 2;
  border-radius:15px;
  border:1px solid rgb(240, 238, 237);
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  box-sizing:border-box;
  /* object-fit:contain; */
  
  /* margin-right:3px;
  margin-bottom:1.5px; */
  
}

.left-icon .svg{
  transform: translateX(-10px);
}


.text-container {
  grid-column: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top:-4px;
  margin-left:3px;
             

           

}

.text-container .title {
  font-size: 16px;
  font-family:'TTNorms-Bold';
  /* font-weight:300; */
  /* font-weight: bold; */
  color: #191919;
  /* margin-bottom: 4px; */
  line-height: 22px; 

  letter-spacing: 0; 
  white-space: nowrap;  

  margin-left:-5px;
  margin-top:2.5px;
  

  
}      

.text-container .subtitle {
  font-size: 14px;
  font-family:'TTNorm-medium';
  color: #606060;
  margin-bottom: 9px;
  white-space: nowrap;

  font-weight:500;
  line-height:20px;
  letter-spacing:-0.01px;

  margin-left:-5px;
  padding-bottom:1.3px;
 
 
}

.rating {
  display: flex;
  align-items: center;
  
  margin-top:-9px;
  margin-left:-5px;
}

.rating svg{
  margin-left:2px;
  /* margin-top:1px; */
  /* margin-right:3px; */
}
/* .text-container .rating img {
  width: 70px;
  height: 30;
  margin-right: 6px;

  
} */

.rating-text {
  font-size: 14px;
  color: #606060;    
  white-space: nowrap;  
  font-weight:500;
  
  font-family:'TTNorm-medium';
  
  /* padding-left: 9px; */
   padding-left: 5px;
   margin-left:1px;
   /* margin-top:1px; */


  
}

.button {
  grid-column: 6/7;
  background-color: #ea1600;         
  color: white;
  text-align: center;
  /* padding: 8px 10px; */
  /* padding:6px 13px; */
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  width: 66.21px;
  height: 32px;
  margin-top:2px;
  display:flex;
  justify-content:center;
  align-items:center;

  font-family:'TTNorms-Bold';
  
}



 /* .option{
    background:#f44322; 
    max-width: 100%;
    margin: 0;
    height:60px;
    display:grid; 
    justify-content: flex-end;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap:10px;
    
 } */

/* .button1 {
  grid-column: 7/8;
  background-color:white;         
  color: black;
  text-align: center;
  padding: 8px 13px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;           
  
}
.button2 {
  grid-column: 8/9;
   background-color:#eb1700 ;        
  color: white;
  text-align: center;
  padding: 8px 13px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  margin-right:5px;
  
} */

.banner {
    /* background: url(assets/loco\ \(3\).jpg); */
    background:url(assets/hero_mobile.png);
    background-repeat:no-repeat;
    background-position:center center;

    background-size: cover;
    /* padding: 0 10px 0px 15px; */
    box-sizing: border-box;
    /* height:550px; */

    height:550px;  
    /* object-fit: center center; */
    width:100%;
    /* box-sizing:border-box; */

    /* background-position:  46% ; */

    /* background-position: left -25px; */
     
    
    

    
     margin:0;
    
    
    
    /* max-width:100%; */

   
}

.option{
    /* background:#f44322;  */

    max-width:100%;

    margin: 0;
    height:60px;
    display:grid; 
    justify-content: flex-end;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap:10px;
    margin-left: -25px;

    box-sizing:border-box;
    /* max-width:712px; */
    


    
   
   
    
    
}


.banner .option{
    /* margin-top:15px; */
    padding-top:5px;
    transform:translateX(5px);

    display:flex;
    justify-content:flex-end;

    
   
}
.button1 {
  grid-column: 7/8;
  background-color:white;         
  color: black;
  text-align: center;
  padding: 8px 13px;
  border-radius: 999px;
  cursor: pointer;
  white-space: nowrap;
  width:66.35px;
  height:40px;
  font-family:'TTNorms-Bold';
  margin-top:5px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;

  /* margin-left:15px; */

   transform: translateX(3px);
   text-indent: -1px;
  
  

  
  
}
.option2{
  display:none;
}



.button2 {
  grid-column: 8/9;
  background-color:#eb1700 ;        
  color: white;
  text-align: center;
  padding: 8px 15px;
  border-radius: 999px;
  cursor: pointer;
  white-space: nowrap;
  margin-right:5px;
  width:100.8px;
  height:40px;
  font-family: 'TTNorms-Bold';;
  margin-top:5px;
  font-size:16px;
  padding-top:10px;

  text-indent: -3px;
  
  transform:translateX(1px);



  
}




.logo{
  display:flex;
  align-items: center;
  justify-content: center;
/* ---------------------------- */
  padding-top: 75px; 

   margin-top:39px;
/* -------------------------- */
  /* margin-top:20px;
  margin-bottom:20px; */

  
  /* transform:translateX(-2px); */
  /* margin-left:-3px; */
  text-align:center;
  
  

/* 
  display:flex;
  justify-content: flex-start;
  align-items:center;
  margin-top:20px;
  margin-bottom:20px;
  
  justify-content: center; */

}

.logo .tag{
  /* transform:translateX(-1px); */
  margin-top:2px;
  margin-right:1px;

}





.dtext{
  margin-left:7px;
  color:#fff;
  
}
.htext{
  display:flex;
  /* justify-content: flex-start; */
  align-items: center;
  text-align: center;
  /* width:100%; */
  font-size:16px;
  font-weight:900;
  /* font-weight: bolder; */
  color: #fff;
  margin-top:10px;
 font-family:'TTNorms-ExtraBold';

  line-height: 28px;
  margin-top:20px;
  /* margin-bottom:24; */
  justify-content:center;

  /* max-width:350px; */

  /* margin-left:190px; */
  /* letter-spacing: -0.5px; */
  
  
}

.htext h1{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:center;
  max-width:350px;
 font-family:TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  /* margin-top:-5px; */
  /* letter-spacing:-0.5px; */
  /* margin-bottom:24px; */
}
.secondclass{
  display:flex;
  justify-content:center;
  flex-direction:column;
 
  /* margin-top:1px; */
  margin-top:-3.5px;
}



/* .field{ */

/* 
     display: flex;
  justify-content: center;
  align-items: center;   
  width: 100%;
  margin: 20px auto;   */

    /* display:flex;
    justify-content: center;
    align-items: center; */

    /* margin-top:20px;
    width:298px;
    height:52px; */


    /* margin-left:40px; */
    /* padding-left:auto; */

    /* border-radius:999px;
    border:1px solid white;
    background-color: white; */

    /* text-align: center; */
   
/* } */
/* .forflex{
  display: flex;
  align-items:center;
  justify-content:center;
  padding-top:10px;
} */
  

/* .field .icon {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .field .icon1 {
  display: flex;
  align-items: center;
  justify-content: center; */
  /* margin-right:50px; */
/* } */
/* .field .icon2 {
  display: flex;
  align-items: center;
  justify-content: center; */
  /* margin-right:50px; */
/* } */







.field {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  margin: 20px auto;
  margin-top:22px; 
  margin-left:2px;
  
  
  /* transform:translateY(1px); */
    
}
.forflex {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px 16px;
  border-radius: 999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  width:298px;
  height:52px;

  margin-top:2px;
  transform:translateX(-2px);
  /* justify-content:flex-start */
  
 
  

}

.ttext {
  border: none;
  outline: none;
  font-size: 16px;
  width: 250px;
  font-weight: 500;
  color:gray;
  margin-top:1px;
  transform: translateX(2px);
  
  
  
}

.icon1, .icon2 {
  display: flex;
  align-items: center;
}

.icon2{
  cursor:pointer;
  transform:translateX(-8px);
}



.buttoncontainer{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  /* margin-top:16px; */



  /* margin-left:2px;  */
   margin-top:-14.5px;

   margin-left:4.5px;
  

}

.buttoncontainer1{
  display:none !important;
}

.buttoncontainer2{
  display:none !important;
}



.buttonlog{
   background-color:white;
    padding:6px 13px;
    border-radius:999px;
    font-weight:bold;
    white-space:nowrap;
    cursor:pointer;
    width:81.05px;
    height:32px;
    text-align:center;
    font-size: 14px;
    margin-right:8px;
    margin-top:10.5px;
    display:flex;
    padding-bottom:1px;
    margin-left:-1px;
    padding-top:6.5px;
   
    
}

.buttonlog .man{
  margin-top:1.5px;
  margin-left:-1px;
}

.icon11{
  display:none;
}
.invi{
  display:none;
}



.logclass{
  margin-left:4px;
  font-family:'TTNorms-Bold';
  font-weight:100;
  margin-top:1px;
}

 
.sec1{
  
/* --------------------------- */
  /* width: fit-content; */

  /* max-width: 100%; */


   /* margin: 0 auto; */

/* ------------------------ */
  
    /* ---------------------- */

    display:block;
    box-sizing: border-box;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;

}


.lybox{
   
  

           
   border-color:rgb(241, 241, 242);
   display:block;
   box-sizing: border-box;

 
   height:161.333px;
    /* background-color: #F7F7F7; */
    background-color: #F7F7F7;
    border-radius:12px;
    padding:20px;  
    max-width:100%;

    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice:100%;
    border-image-width: 1;
    border-style:solid;
     
    border-width:0.666667px;
  
  
   
 

   




}

.seccontainer{
  
  /* width: 100%; */
  /* max-width:400px; */


/* ---------------------------- */

box-sizing:border-box; 
 display:block;
flex-basis: auto;
flex-shrink:0;
flex-grow:1;

max-width:400px;
/* tab, desktop - will change */

margin: 0 auto;
margin-top:0;
margin-bottom:0;







}



 .boxgrid{
  display:flex;
  text-align:left;
  box-sizing: border-box;

  
 }
 


 
  
 
 .leftt-icon {  
  width:60px;         
  height:60px;    
  /* border-radius:15px; */
  background:white;
  border:1px solid rgb(240, 238, 237);
  /* display:flex;
  justify-content:center; */
  margin-right:8px;

  text-align:left;
  padding:8px;
  border-top-left-radius: 12px ;
  border-top-right-radius:12px ;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius:12px ;
  transform: none;
  border-bottom-width: 0.666667px ;
  border-top-width: 0.666667px ;
  border-left-width: 0.666667px ;
  border-right-width: 0.666667px ;
  /* margin-bottom:3px; */

  
  /* transform:translateY(-2px); */
  display:block;
  box-sizing: border-box;


  
 }
.leftt-icon svg{
  
  width:40px;
  height:40px;
  box-sizing: border-box;
  /* text-align:left; */
  
 
}

 .sec1 .text-container{
  display:block;
  box-sizing: border-box;
  text-align:left;
  max-width:100%;
  margin-top:0px;
  margin-left:0px;
  height:64px;
  /* width:200.646px; */
  
  
}

.sec1 .text-container .title{
  font-size:18px;
  /* transform:translateY(-3.5px); */
  font-weight:700;
  letter-spacing: -0.01px;
  line-height:20px;
  text-align:left;
  margin-top:0px;
  margin-left:0px;

}

.sec1 .text-container .subtitle{
  
   /* padding-left:6px; */
  /* margin-top:-3px;
  transform:translatex(4px); */
 
  box-sizing: border-box;
  font-size:14px;
  font-weight: 500;
  letter-spacing: -0.01px;
  line-height: 20px;
  margin-left:4px;
  margin-top:2px;
  margin-right:0px;
  text-align:left;
  padding-bottom:0px;
  margin-bottom:0px;

  

} 
.sec1 .text-container .rating{
  display:flex;
  justify-content: flex-start;
  margin-top:2px;
  text-align:left;
  align-items: center;
  /* box-sizing: border-box; */
  justify-content: flex-start;

  padding-top: 0px;
  margin-left:0px;

  
}



.rating-text1{
  /* font-size: 14px;
  color: #606060;    
  white-space: nowrap; 
  padding-left:6px;    */
  
  



  font-size: 14px;
  color: #606060;    
  white-space: nowrap;  
  font-weight:500;
  letter-spacing: -0.01px;
  line-height: 20px;
  text-align:left;
  margin-left:6px;
  display:block;
  box-sizing: border-box;
  
  font-family:'TTNorm-medium';
  
}
/* .rating .star1{
  margin-left:2px;
  margin-right:2px;
} */

/* .rating svg{
  margin-right:2px;
  margin-left:0px;
} */


.continuebutton{
    display:flex;
    justify-content: center;
    max-width:100%;
    min-height:40px;
    
    background-color:#eb1700 ; 
    color:white;


    /* padding:10px; */
    border-radius:9999px;
    /* margin-top:20px; */
    font-family:'TTNorms-Bold';
    text-align:center;
    font-size:16px;
    font-weight:400;
    margin-top:16px;
    word-spacing:0;
    cursor: pointer;
    width:318.667px;


    /* padding-top:10.5px; */
   


}

.continuebutton span{
   font-family:'TTNorms-Bold';
    text-align:center;
    font-size:16px;
    font-weight:400;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-left: 12px;
    padding-right:12px;
    max-width:100%;
}

.sec1 .rating{
   /* padding-top:1.5px; */
}

.contents{
  /* padding:16px; */
  /* display: flex;
  flex-direction: column;
  justify-self: center; */
  /* max-width:100%; */
  /* margin:40px 0; */
  /* padding:8px; */
  /* margin-top:40.5px;
  margin-bottom:40px; */
  /* margin-top:40px;
  margin-bottom:40px; */
  /* padding-left:8px;
  padding-right:8px; */
  
 
/* ---------------------------- */
display:flex;
flex-direction:column;
box-sizing: border-box;
justify-content: center;
align-items:center;
padding:8px;
margin-top:40px;
margin-bottom:40px;
width:100%;
  


}
.contents1{
  /* display:flex;
  flex-direction:column;
  justify-content:center; */
  /* height:736px; */
  box-sizing: border-box;
  /* margin-top:7px; */
  /* min-width:360px; */

  
  /* width: fit-content; */

}






.dasher {
  display: flex;
  /* ------------------ */
  /* align-items:flex-start;
  justify-content: space-between; */
/* ------------------------------- */
  /* changed */
  /* column-gap: 35px; */

  /* max-width:388px; */
  /* margin: 30px auto; */
  padding: 16px;
  /* -------------------------- */
  /* margin-bottom: 0; */
  /* margin-top:0;
  /* width: 402px; */ 
  /* ------------------ */

  /* max-width:100%;
  min-width:360px;
  width:360px; */
  /* height: 240px; */
  padding-top:16px;
  padding-bottom:16px;
  padding-left:16px;
  padding-right:16px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  max-width:100%;

  /* min-width:360px; removed for mobile */
  /* width:402px; */
  /* width:360px; */
  /* ------------ */
  /* min-width:360px; */

   /* min-width:360px; */

  /* width:402px; */
}

.dasherimg {
   display:block;
   box-sizing:border-box;
   margin-right:32px;
}

.dasherimg img {
  /* width: 100%;
  height: 100%; */
  width:88px;
  height:88px;
  /* object-fit: contain; */

  /* added */
  /* display:block; */
  box-sizing:border-box;
  /* overflow-clip-margin: content-box;
  overflow-x:clip ;
  overflow-y: clip; */
  
}                           

.dashercontent{
  display:flex;
  flex-direction: column;
  /* max-width:250px; */
  flex-wrap: nowrap;
  box-sizing: border-box;         
  /* justify-content: flex-start; */

  max-width:250px;
  /* min-width:360px; */
  
  




/* changed */
  /* margin-left:-3px; */
   /* max-width:100%; */

 
}
.dashwidth{
    display:block;
    box-sizing:border-box;
    max-width:100%;
}

    
  
.dashercontent h1 {

  font-size:32px;
  font-family: 'TTNorms-Bold';
  font-weight: 700;
  line-height:40px;
  text-align:left;
  letter-spacing: -0.01px;


  /* font-size: 32px;
  font-weight: 700;
  margin: 0 0 0px 0;
  line-height: 1.2;
 


  margin-bottom:-5.5px;
  padding-bottom:-1.5px; */
  
 
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.dashercontent h3 {
  /* font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align:left;
  color: #000; */

  /* margin-bottom: 16px; */

  /* font-family:'TTNorms-Regular'; */

  /* font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

  /* font-weight:600;
  box-sizing: border-box; */


  /* ----------------------- */

  display:block;
  box-sizing: border-box;
  /* font-family:'TTNorms-Medium'; */
   font-family: 'Roboto', sans-serif;
   font-family:'TTnorms-Regular';
  /* font-family:apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  /* font-size:16.5px; */
  font-size:18px;
  /* font-size:16.5px; */
  font-weight:600;
  letter-spacing: 0.14px;
  /* letter-spacing:0.30px;       */
  /* font-size:18px; */
  
  /* letter-spacing:-0.01px;       */
  text-align:left;
  line-height:24px;
  color: #161616;
  /* min-width:360px; */
  /* word-spacing:2px; */                                                
  /* max-width:250px; */
 
}

.h3sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #eb1700;
  cursor: pointer;

  /* margin-top:-10px; */
  margin-top:12px;
  text-align:center;
  
}

.h3sec h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  color: #eb1700;
  /* margin: 0; */

  /* margin-bottom:5px; */


  /* lookhere */             
  /* margin-bottom:0.5px; */
}

.h3sec span {
  display: flex;
  align-items: center;
}

/* .below{
  margin-top:-13px;
} */

/* .ttop{
  
  margin-top:-5px;
  

} */



.imgportion{
  /* background:white; */
  width:100%;


  /* height:454px; */


  position:relative;
  z-index:1;
  
  /* margin-top:29.5px; */
 
  /* margin-top:15px; */

}
          
.ec{
     display:flex;
     flex-direction:column;
     margin-bottom: -300px;
     padding-bottom:20px;
     padding-left:20px;
     padding-right:20px;
     padding-top:20px;
     /* max-width:100%; */

     min-width:90%;
     

}
.ecimage{
    height:180px;
    max-width:100%;


}

.ecimage img{
  width: 100%;
  height: 100%;         
  object-fit: cover;
}


.textportion{
   display:flex;
   flex-direction:column;
   text-align:left;
   
}

.textportion h1{
 font-size:24px;
 margin-top:24px;
 font-family:'TTNorms-Bold' ;
 font-weight:bolder;
 line-height:28px;
 max-width:90%;
 

}

.textportion h3{                
 margin-top:10px;
 font-size:18px;
 font-family:'TTNorms-bold';
 font-weight:700;
 line-height:22px;
 /* word-spacing:1.5px; */
 letter-spacing: -0.01px;
}         

.textportion p{
  /* margin-top:15px; */
  font-weight:500;
  font-size:14px;
  line-height:20px;
  font-family:'TTNorms-Regular';
  margin-top:10px;
  display:block;

}
.buttona {               
    margin-top:20px;   
    background-color:#ea1600; 
    width:130.74px;
    min-height:32px;
    color:white;
    border-radius:999px;
    font-family:'TTNorms-Bold';
    text-align:center;
    font-size:14px;  
    border: none;
    text-align:center;
   

    
                     
}
.imgportion1{
 /* height:722px; */
 /* height:722px; */
  padding-top:320px;
  padding-left:20px;
  padding-right:20px;
  
  
  padding-bottom:20px;
  background-color:rgb(254, 241, 238);
  
  /* margin-top:-300px; -new removed */
  position:relative;
  z-index:0;
  

   
  
  


}

.imgportion1 .textportion p{
  word-spacing: 1px;
}

.imgportion1 .buttona{
  width:114.115px;
}
.titlex{
  display:flex;
  justify-content: center;
  align-items:center;
  padding:40px 20px 20px 20px;
  background-color: #fff;
  height:116px;

}
 
.titlex h1{
  font-size:24px;
  font-family:'TTNorms-Bold';
  font-weight:700;
  max-width:300px;
}

.grocery{
  height:350px;
  background:url(assets/bg.avif);
  background-repeat:repeat;
  background-size:cover;
  background-position: center;
  /* width:100%;   -removed
  
  /* ------------------------------------ */
  background-attachment:scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: 50%;
  display:block;
  box-sizing:border-box;
  position:relative;




  
}
.grcontent{
  /* width:100%;
  height:100%; */

  background-color:rgba(30,30,30,0.6);
  position:relative;
  z-index:1;
  display:flex;
  justify-content:center;

  box-sizing: border-box;
  align-content:center;
  height:350px;

}
.grcflex{
  display:flex;
  flex-direction:column;
  max-width:550px;
  align-items:center;
  /* justify-content:center; */
  margin-top:70px;
  margin-bottom:70px;
  box-sizing: border-box;
  text-align:center;
  
}

.grcflex h1{
 
  font-size:24px;
  font-family: 'TTNorms-Bold';
  text-align:center;
  color:white;
  max-width:90%;
  margin:20px 0px 0px;
  letter-spacing: -0.01px;
  line-height:28px;
  
}

.grcflex h3{
   font-size:18px;
   font-family:'TTNorms-Bold';
   margin-top:10px;
   text-align:center;
   color:white;
   letter-spacing:-0.01px;
   line-height:22px;


}

.grcflex h5{
  font-size:14px;
  font-family:'TTNorms-Regular';
  margin-top:10px;
  text-align:center;
  color:white;
  font-weight:500;
  line-height:20px;
  letter-spacing:0.1px;

}

.ec3{
  /* margin-top:-50px; */
}
.imgportion5{
  /* background:white; */
   /* display:block;
   box-sizing: border-box; */

  /* width:100%;
  height:400px; */


  /* position:relative;
  z-index:1; */

}

.imgportion1 p{
  letter-spacing: 0.20px;
}

.grcflex .buttona {
  font-size:14px;
  font-weight:700;
  letter-spacing:-0.01px;
  line-height:20px;
  width:123.896px;
}

.imgportion5 .buttona {
  font-size:14px;
  font-weight:700;
  letter-spacing:-0.01px;
  line-height:20px;
  width:90.7708px;
}
.imgportion5 .ec{
  margin-bottom:0px;
}

.imgportion5 .textportion {
    /* justify-content:center; */
    /* margin:0 auto; */
   
    /* max-width:575.79px; */
    margin:0 auto;
 }

 .imgportion5 .textportion p{
  
  letter-spacing:0.10px;
 }



.imgportion5 .textportion h1{
  display:block;
  box-sizing: border-box;
  line-height:28px;
  font-size:24px;
  font-weight:700px;
  letter-spacing:-0.01px;
  /* margin-top:20px; */
  max-width:90%;
  text-align: left;
}

.impgportion5 .textportion p{
  display:block;
  box-sizing: border-box;
 margin-top:10px;
}

.impgportion5 .textportion .buttona{
  margin-top:20px;
  box-sizing: border-box;
}

#grow{
  width:139.698px;
}



.bscroll{
  display:flex;
  justify-content:center;
  background-color:rgb(254,241,238);
  padding:40px 20px 20px 20px;
  width:100%;
  /* align-items:center; */
  text-align:center;
  /* margin-top:15px; */
  /* height:116px; */
}
.bscroll h1{
  font-size:24px;
  font-family:'TTNorms-Bold';
  max-width:300px;
  letter-spacing:-0.01px;
  
}

.scrollchild{
  display:flex;
  flex-direction:row;
  overflow-x: scroll;

  
  /* overflow-y:none; */
  width:100%;
  background-color: rgb(254,241,238);
  /* height:422px; */
  height:430px;
  
}
 .scrollt::-webkit-scrollbar {
  display: none;
 }


.firstdiv{
  display:flex;
  flex-direction:column;
  min-width:90%;
  align-items:center;
  padding:20px;
  margin-right:-10%;
  margin-left:5%;
  /* box-sizing:border-box; */
}
.imgf{
  width:100%;
  display:block;
  box-sizing: border-box;
}
.imgf img{
   height:180px;
   width:100%;
   object-fit:cover;
}

.firstcontent{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  justify-content:center;

}


.scrollt .firstdiv .firstcontent .buttona{
  width:105.938px;
}
#restock{
  width:110.615px;
}

#pets{
  width:133.531px;
}
.firstcontent h1{
  max-width:90%;
  margin-top:20px;
  text-align:center;
  font-size:24px;
  line-height:28px;
  letter-spacing:-0.01px;
  font-family:'TTNorms-Bold';
}

.firstcontent h3{
  font-size:14px;
  font-family:'TTnorms-Regular';
  margin-top:10px;
  text-align:center;
  font-weight:500;
  line-height:20px;
  letter-spacing:-0.01px;

}

.firstcontent h5{
  font-size:12px;
  font-family:'TTNorms-Regular';
  color:black;
  margin-top:10px;
}

.displaycontentlist{
  /* height:838px; */
  padding:24px 16px;

}

.displaycontentlist h1{
  font-size:18px;
  font-family:'TTNorms-Bold';
  text-align:center;
  width:100%;
  margin-bottom:20px;
  line-height: 22px;
  letter-spacing:-0.01px;
  font-weight:700;

}
.disflex{
  width:100%;
  display:flex;
  flex-direction:column;
}

.disflexrow{
  display:flex;
  justify-content: center;
  /* justify-content: space-between; */
  margin-top:20px;
  column-gap:0;


}
.disflexrow div{
  /* font-size:16px; */
  /* font-family:"TTNorms-Regular";
  font-weight:600; */
  width: 33.33%;
  min-width:30%;
  height:40px;
}

.disflexrow .grey{
    color:gray;
    /* width: 33.33%; */
    
}
.disflexrow .boldline {
  padding-bottom:20px;
  border-bottom:3px solid black;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* font-size:bolder; */
}

.disflexrow .grey{
  padding-bottom:20px;
  border-bottom:2px solid rgb(222, 222, 222);
 

}

.country{
  display:flex;
  flex-direction:column;
  row-gap:19px;
  margin-top:22px;


  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap:16px;
  width:100%;

}

.country a{
   text-decoration: none;
   font-size:16px;
   color:#191919;
   font-weight:550;

}

.seemore{
  padding-top:10px;
  padding-bottom:10px;
  display:flex;
  justify-content:center;
  align-items:center;

}
.seemore h2{
  font-size:20px;
  font-family:'TTNorms-Bold';
  margin-right:8px;
  text-align:center;
}
.seemore button{
   width:40px;
   height:40px;
   border-radius:50%;
   border:none;
   background-color:#F1F1F1;     

}

.fcontent{
  padding-left:20px;
  padding-right:20px;
  display:flex;
  flex-direction:column;
  background-color:#1a1a1a;
  /* height:2270px; */
  /* height:2325px; */
  width:100%;
  height:100%;
  
  


}

.colist{
  padding-top:32px;
  padding-bottom:32px;
}
.colist h2{
  margin-bottom:15px;
  text-align:center;
  color:white;
  font-size:16px;
  font-family:'TTNorms-Regular';
  
}

.colistsec{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  column-gap:8px;
  row-gap:12px;
  text-align:center;
}

.cofirst{
  display:flex;
  flex-direction:column;
 
  
}
.cofirst a{
  color:#C4C4C4;
  font-size:14px;
  margin-top:15px;
  text-decoration:none;
}

.colist2{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.secicon{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;

}

.seciconpad{
  padding-top:32px;
  display:flex;
  flex-direction:column;
}
.svgdiv{
  display:flex;
  justify-content:center;
  background-color: rgb(73,73,73);
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  cursor:pointer;
  padding:2px 8px;

}
.svgdiv1{
   display:flex;
  justify-content:center;
  background-color: rgb(73,73,73);
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  cursor:pointer;
  padding:2px 8px;
  margin-top:12px;
}

.contentslast{
  display:flex;
  flex-direction:column;
  column-gap:8px;

}
.cinisec{
  display:flex;
  flex-direction:column;
  padding-top:32px;
  text-align:center;
}

.cinisec h2{
  margin-bottom:8px;
  font-size:16px;
  font-family:'TTNorms-Regular';
  font-weight:600;
  color:white;
}

.cinisec a{
  color:#C4C4C4;
  font-size:14px;
  margin-top:8px;
  text-decoration:none;
}


.foot{
  /* padding-top:32px; */
  padding-top:40px;
  padding-bottom:32px;
  align-items:center;
  justify-content:space-between;
  text-align:center;
  display:flex;
  flex-direction:column;
}
.foot1{
  display:flex;
  justify-content:center;
  text-align:center;

}
.foot1 .svg33{
  margin-left:12px;
}

.foot2{
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  padding:15px 12px;
}
.innerfoot{
  width:155px;
  height:35px;
  background-color:#F1F1F1;
  border-radius:999px;
  display: flex;
  justify-content:center;
  text-align:center;
  
  align-items:center;
  justify-content: flex-start;
  /* font-size:15px;
  font-family:'TTNorms-Regular'; */
  
}
.innerfoot h4{  
   font-family:'TTNorms-Regular';
    font-size:15px;
    /* font-size:12px; */                                 
    margin-left:13px;            
    width:82.02px;                                                     
    height:18px;                           
    /* white-space: no wrap; */              

}
.innerfoot .globe{
  margin-left:9px;
}

.foot3{
  display:flex;
  justify-content:center;
  margin-top:12px;
  max-width:100%;
  text-align:center;
  flex-wrap:wrap;
  height:36px;
  column-gap: 1px;
}

.foot3 h6{
  color:#C4C4C4;
  font-size:12px;
  margin-left:16px;
}

.left-icon span{
   padding-top:8px;
   padding-bottom:1px;
}







/* -------------main css------------ */